// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.speech {
  margin-left: 20px;
  padding: 5px 10px;
  border-left-style: solid;
}
